<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de indicações</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <div class="header-background">
    <div class="header-container">
    <a href="/principal" class="header"><h1 >Bem-vindo ao LitReview</h1></a>
    </div>
</div>