<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando um livro</title>
</head>
<body>
    <h2>Adicionar um novo livro:</h2>
    <form action="/principal" method="post">
        <label for="titulo">Titulo: </label>
        <input type="text" id="titulo" name="titulo">
        <br><br>
        <label for="capa">Capa: </label>
        <input type="image" src="" alt="" id="capa" name="capa">
        <br><br>
        <label for="genero">Digite três gêneros que o livro pertença: </label>
        <input type="text" id="genero1" name="genero1">
        <input type="text" id="genero1" name="genero2">
        <input type="text" id="genero1" name="genero3">
        <br><br>
        <label for="resumo">Resumo: </label>
        <input type="text" id="resumo" name="resumo">
        <br><br>

        <button>Enviar</button>
    </form>
    <br>
    <a href="/principal"><button>Voltar</button></a>
</body>
</html>