<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando uma avaliacao</title>
</head>
<%- include('./partials/head') %>

    <body>
        <% for (let item of resposta.items) { const livro=item.volumeInfo;%>
            <h2>Faça sua avaliação do livro <%=livro.title %>
            </h2>

            <form action="/adicionarAvaliacao/<%=livro.industryIdentifiers[0].identifier%>" method="post">
                <label for="recomenda">Recomenda?: </label>
                <input type="radio" name="recomenda" value="true"> Sim &nbsp; |
                <input type="radio" name="recomenda" value="false"> Não
                <br><br>
                <label for="comentario">Comentario: </label>
                <input type="text" id="comentario" name="comentario">
                <br><br>
                <label for="email">Confirme seu email: </label>
                <input type="email" id="email" name="email">
                <% } %>
                    <button>Enviar</button>
            </form>
            <br>
            <a href="/principal"><button>Voltar</button></a>
    </body>

</html>