<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando sua conta</title>
</head>

<body>
    <form action="/principalUsuario" method="post" >
        <label for="nome">Nome de Usuário: </label>
        <input type="text" id="nome" name="nome">
        <br><br>
        <label for="dataNasc">Data de nascimento: </label>
        <input type="date" name="dataNasc" id="dataNasc">
        <br><br>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email">
        <br><br>
        <label for="senha">Senha: </label>
        <input type="password" id="senha" name="senha">
        <br><br>
        <button>Enviar</button>
</body>

</html>