<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando sua conta</title>
</head>

<body>
    <form action="/principal" method="get" >
        <div>
            <p>Nome de usuário:</p>
            <input type="text" name="nome" id="nome" required>
        </div>
        <div>
            <p>Data de Nascimento:</p>
            <input type="date" name="nasc" id="nasc" min="2012-11-01" required>
        </div>
        <div>
            <p>Email:</p>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <p>Senha:</p>
            <input type="password" name="senha" id="senha" required >
        </div>
        <div>
            <button type="button" id="botao">Enviar</button><br>
        </div>
    </form>
    
</body>

</html>