<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando sua conta</title>
</head>
<body>
    <form action="/principal" method="get"></form>
    <div>
        <p>Nome de usuário:</p>
        <input type="nome" name="nome" id="nome">
    </div>
    <div>
        <p>Data de Nascimento:</p>
        <input type="nasc" name="nasc" id="nasc">
    </div>
    <div>
        <p>Email:</p>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <p>Senha:</p>
        <input type="senha" name="senha" id="senha">
    </div>
    <div>
        <button id="botao">Enviar</button><br>
    </div>
</body>
</html>