<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LitRevien</title>
</head>
<body>
    <div>Bem vindo ao <strong>LitRevien</strong></div>
    <div>
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/criarConta'">Criar conta</button>
    </div>

</body>
</html>