<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>LitRevien</title>
</head>
<body>
    <div class="content">
        <h1>Bem-vindo ao LitReview</h1>
        <p class="description">Encontre recomendações de livros, veja resumos, gêneros e avaliações de outros leitores.</p>
        <div class="buttons">
            <button onclick="window.location.href='/login'">Login</button>
            <button onclick="window.location.href='/criarConta'">Criar conta</button>
        </div>
    </div>
</body>
</html>
