/* Base styles shared across both stylesheets */
body {
    font-family: 'Roboto', sans-serif;
    align-items: flex-start; 
    height: 100vh;
    position: relative;    
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62a8ee;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    width: calc(100% - 40px);
    /* Adapta a largura à tela */
    position: relative;
    left: 2.5cm;
    /* Move o container 1,5 cm para a direita */
}

.header-container h1 {
    color: white;
    font-size: 3.5em;
    /* Aumentei o tamanho */
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.overlay {
    background: rgba(79, 172, 254, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
   }

   footer {
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.95);
    color: #0073e6;
    font-weight: bold;
    width: 100%;
    margin-top: auto; /* Empurra o rodapé para o final */
}
