h1, h2{
    margin: 20px;
    text-align: center;
}

h1{
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 70px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

footer{
    margin-top: 50px;
    text-align: center;
}

.center{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.busca{
    margin: 20px0;
}

.livro{
    border: 2px solid black;
    margin: 0 auto 20px auto;
    width: 580px;
    height: 225px;
    text-align: left;
}

.livro img{
    float: left;
    margin: 10px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(8, 6, 3);
}

.voltar {
    text-align: center;
  }