body {
    background: url('img/fundo2.webp') no-repeat center center; /* Adicionando a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; /* Espaço para garantir que o cabeçalho não sobreponha */
    position: relative;
    min-height: 100vh; /* Garante que o body cubra a altura total da tela */
}

.container {

    width: 80%;
    max-width: 800px;
    margin: 20px;
    position: relative;
    z-index: 1;
}

h1.title {
    background-color: #62a8ee;
    color: white;
    padding: 20px;
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 40px;
}

h2.prin, h2 {
    color: #0073e6;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.livro {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.livro img {
    max-width: 150px;
    margin-bottom: 20px;
}

.livro p {
    margin: 10px 0;
}

button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #005bb5;
}

button.secondary {
    background-color: #28a745;
}

button.secondary:hover {
    background-color: #218838;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1cm; /* Espaço de 1cm entre os botões */
}

.voltar {
    text-align: center;
    margin-top: 20px;
}

a {
    /* Remove o sublinhado dos links */
    text-decoration: none;
    /* Define a cor do texto */
    color: rgb(8, 6, 3);
}

